body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./images/image.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.text-content {
  margin-left: 50px;
  color: white;
}

.text-content h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.text-content h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: #25DBF7;
}

.text-content p {
  font-size: 24px;
}
.text-content .connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color:#25DBF7;
  width: 300px; 
  height: 85px; 
}


.connect-title {
  font-size: 20px;
  color: white;
  text-decoration: underline;
  text-decoration-color: #000000;
}

.connect a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.connect a:hover {
  color: #ddd;
}

.connect i {
  margin: 0 15px;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  display: none;
}
.hamburger::before {
  content: '☰'; 
  font-size: 2rem;
  color: #fff; 
  margin: 10px;
}
.drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  z-index: 1000;
}

.drawer .close-btn {
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.drawer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer .links a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.drawer .links a:hover {
  background-color: #555;
}

.drawer.show {
  left: 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  
  .drawer {
    display: flex;
  }
}

@media (min-width: 769px) {
  .drawer {
    display: flex;
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    flex-direction: row;
    padding-top: 0;
    background-color: transparent;
    justify-content: flex-end;
  }
  
  .drawer .links {
    flex-direction: row;
  }
  
  .drawer .links a {
    padding: 0 1rem;
  }
  
  .drawer .close-btn, .hamburger {
    display: none;
  }
}

.text-content {
  margin-right: 60px;
}



.section {
  border: rgb(0, 0, 0) 1px solid;
background-image:url("https://static.vecteezy.com/system/resources/thumbnails/009/464/946/small/bright-summer-gradient-background-in-pink-yellow-green-and-blue-good-for-banner-social-media-template-poster-and-flyer-template-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.board {
  display: flex;

  align-items: center;
}
.profile {
  margin-left: 20px;
  width: 50%;
}
.profile .welcome {
  color: rgb(255, 84, 204);
  font-size: 50px;
  font-weight: bold;
}
a {
  font-family: cursive;
}

.profile .title {
  color: white;
  font-size: 20px;
}
.profile a{
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: 200px;
  height: 50px;
  font-size: 1em;
  font-weight: 500;
  color: #000000;
  font-family: inherit;
  background-color:#ffcc00;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #000dff;
  color: #ffffff;
  border: 1px solid;
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}

.prf {
  height: 500px;
  width: 40%;
  margin-left: 20px;
  margin-bottom:20px;
}
.prf img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: inherit;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
 
}

.icon {
  color: #ffcc00;
}

.icon i {
  margin-top: 30px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
i {
  color: white;
}
i:hover {
  color: blue;
}

button i {
  margin-left: 5px;
}
h2 {
  color: rgb(33, 27, 39);
}


.links {
  display: flex;
  justify-content: end;
  border: 2px wh;
}
.links a {
  margin-top: 15px;
  margin-right: 50px;

  color: #ffffff;
  font-size: 18px;
  text-decoration-style: wavy;
}

a:hover {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 255);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: double;
}

.icon {
  display: flex;
}

.icon h {
  margin-top: 20px;
  margin-left: 10px;
}

.about h1 {
  display: flex;
  justify-content: center;
}
.desc {
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
}
.abt {
  width: 50%;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#content{
    display: inline-block;
   }
.abtImage {
  margin-top: 5%;
  height: 400px;
  width: 40%;
}
.abt h3{
  font-family: 'Georgia', serif;
    font-size: 25px;
    color: #00ff44;
}
.abtImage img {
  border-radius: 38%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.abtBtn {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.toggle-icon {
    display: none;
}

.skills h1 {
  display: flex;
  justify-content: center;
}

.skills-container {
  display: flex;
overflow:hidden;
  justify-content: space-between;
}



.skills-card h3 {
  margin-bottom: 1rem;
  color: #646cff;
}

.skills-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-card li {
  margin-bottom: 0.5rem;
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-card {
  background-color: #f0f0f0;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: #a3a3a3 1px solid;
}

.skills-card:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  animation: animateCard 1s ease-in-out forwards;
}

@keyframes animateCard {
  from {
    transform: translateY(10px);
    opacity: 0.8;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.projects {
  margin-top: 40px;
}

.projects-circle {
  width: 150px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://thumbs.dreamstime.com/b/background-image-shows-abstract-concept-innovation-technology-can-be-applied-to-your-business-75361464.jpg"); /* Background image */
  background-size: cover;
  background-position: center;
  animation: jump 1s ease-in-out infinite alternate;
  cursor: pointer;
  margin-bottom: 20px;
}
.titi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-title {
  font-size: 25px;
  color: rgb(78, 9, 38);
  font-weight: bold;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.projects-circle:hover {
  animation: wobble 0.5s ease-in-out alternate infinite forwards;
}

@keyframes wobble {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25%,
  75% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
.projects h1 {
  display: flex;
  justify-content: center;
}

.project-cards {
  display: flex;
  justify-content: space-between;
}
.card1 {
  margin: 15px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.card1 h {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(15, 45, 219);
}
.card1 img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  position: relative;
}

.card1 p {
  margin-left: 20px;
}
.card1 a {
  position: absolute;
  opacity: 0;
  transition: opacity 0.35s ease;
  margin-top: 15%;

  font-size: 30px;
  color: white;
}

.card1:hover a {
  opacity: 1;
  color: white;
}

input {
  background-color: white;
  border: 1px black;
  color: black;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  width: 250px;
  height: 40px;
  border: 2px solid #fff;
  margin-top: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  color: white;
  height: 200px; 
}

.footer h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #25DBF7;
}

.foot {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.footer_icons {
  display: flex;
  gap: 20px; 
}

.footer_icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.footer_icons a:hover {
  color: #ddd;
}

.footer p {
  margin-top: auto;
  font-size: 14px;
}

.foot button {
  margin-top: 50px;
  background-color: white;
  color: black;
}
.foot button:hover {
  background-color: lightskyblue;
}
.ic {
  margin-left: 10px;
}
.ic h {
  margin-top: 20px;
  margin-left: 20px;
}

.email button:hover {
  background-color: lightskyblue;
}
.container img {
  position: absolute;
  width: 200px;
  height: 300px;
  left: 0;
}

#chat-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#chat-button-container i{
  color: #000000;
}

#chat-button {
  background-color: #ffcc00;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 180px;
  align-items: center;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#chat-button:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid;
  border-color: #646cff;
}


#chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
}

#chat-window.visible {
  display: block;
}

#chat-header {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#chat-history {
  height: 200px;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

#user-input-container {
  display: flex;
  margin-top: 10px;
  align-items: end;
}

#user-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#send-message {
  background-color: #000000;
  color: #fff;
  height: 50px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
}

.close-icon i {
  font-size: 18px;
  color: #1a1a1a;
}
.message {
  padding: 10px;
  margin: 5px;
  max-width: 80%;
  word-wrap: break-word;
}

.user {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.bot {
  background-color: #e8e8e8;
  align-self: flex-start;
}

.message a {
  color: green;
  text-decoration: underline;
}

.message a:hover {
  font-size: 15px;
  font-weight: bold;
}
  .cursor-follower {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    width: 50px;
    height: 50px;
    margin: 30px;
    border-radius: 50%;
    background-image: url('https://img.freepik.com/premium-vector/girl-coding-with-laptop-illustration_418302-2384.jpg');
    background-size: cover;
    transition: transform 0.3s ease; 
  }

@media only screen and (max-width: 768px) {
   .links{
    padding-left: 20px;
   }
    .board {
      flex-direction: column;
      align-items: center;
    }
    .profile {
        margin:auto;
        width: 90%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
      }

      .prf {
        height: 300px;
        width: 90%;
        margin: auto;
       
      }
      .prf img {
        border-radius: 5%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      .profile .welcome {
        
        font-size: 30px;
        font-weight: bold;
      }
      
      
      .profile .title {
        color: white;
        font-size:16px;
      }
      
      .profile img {
        height: 50%;
        width: 100%;
        object-fit: cover;
      }
      .profile button{
        width: 150px;
        font-size: 12px;
        display: flex;
        justify-content: center;
       
        color: whitesmoke;
       align-items: center;
      }
      .profile button:hover{
        background-color: white;

        color:#000000

      }
      .profile .icon{
        width: auto;
        justify-content: center;
        
      }

      p{
        font-size: 12px;
      }
      
     
    
    .display-small {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .screen-content {
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .toggle-icon {
        background-color: #646cff;
        display: block;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;
    }
    
    .toggle-icon:hover {
        background-color: #535bcc;
    }
    
    .content {
        display: none;
        margin-top: 10px;
        font-size: 16px;
        line-height: 1.5;}
    
    .content.expanded {
        display: block;
        width: 100%;
    }
    
    .abtImage {
        display: none;
    }
    
    h3 {
        margin: 0; 
        font-size: 18px; 
    }
    
    .skills-container,
    .project-cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .skills-card,
    .card1 {
      width: calc(50% - 20px);
      margin: 10px;
    }
    .foot h {
        margin-top: 20px;
        font-size: 12px;
        font-weight: bolder;
      }
      .foot h1 {
 
        font-size: 14px;
        font-weight: bolder;
      }

      .foot {
        margin-left: 5px;
        
    
      }
    
      .foot button {
        
        width: 120px;
        font-size: 12px;
      }
.email{
    margin-left: 50px;
}
.email h1{
    font-size: 15px;

}
.email button{
    width: 120px;
}
      
  }
  
 
  @media only screen and (max-width: 480px) {
    
  }


  

